#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.firstSectionBody{
  background-image: url(./img/gym1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  height: 30vw;
}

.jkpgcitylogo{
  padding-left: 16vw;
  padding-right: 9vw;
}

.firstSectionContentDiv{
  padding-left: 15.8vw;
  padding-top: 6.5vw;
  margin: 0;
}

.firstSectionContentDiv h1{
  font-size: 60px;
  color: white;
  font-family: "Acumin Pro Condensed Black";
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

.firstSectionContentDiv h2{
  font-size: 16px;
  color: white;
  font-family: "Acumin Pro";
  font-weight: normal;
  width: 30vw;
  padding-left: 2px;
  padding-top: 3vw;
  margin: 0;
}

.secondSectionBody {
  height: 5vw;
  background-color: black;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.thirdSectionBody{
  padding: 0;
  margin: 0;
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.districtDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vw;
  gap: 10px;
}

.districtCard {
  display: flex;
  align-items: center;
  background-color: #89C5D9;
  padding-inline: 2.4vw;
  padding-block: 0.3vw;
  border-radius: 5px;
  gap: 1.4vw;
}

.districtCard h1, .categoryCard h1{
  font-size: 14px;
  color: #4E4E4E;
  font-family: "Acumin Pro";
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 27px;
}

/* Hide default checkbox */
.checkBox input {
  opacity: 0;
  cursor: pointer;
}

.categoryDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vw;
  gap: 10px;
}

.categoryCard{
  display: flex;
  align-items: center;
  background-color: #D9D0BC;
  padding-inline: 2.4vw;
  padding-block: 0.3vw;
  border-radius: 5px;
  gap: 1.4vw;
}

.categoryTitleDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444444;
  padding-block: 1vw;
  width: 75%;
  margin-top: 3vw;
}

.categoryTitleDiv h1{
  font-size: 27px;
  color: white;
  font-family: "Acumin Pro";
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.accordion-list {
  display: flex;
  width: 75%;
  margin-top: 2vw;
  gap: 2vw;
}

.accordion-row{
  display: flex;
}

.accordion {
  flex: 1;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: #D9D0BC;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.accordion-content {
  padding: 10px;
}



#basic-nav-dropdown {
    color: white;
}
  
  
  
