#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.firstSectionBody{
  background-image: url(./img/gym1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  height: 30vw;
}

.jkpgcitylogo{
  padding-left: 16vw;
  padding-right: 9vw;
}

.firstSectionContentDiv{
  padding-left: 15.8vw;
  padding-top: 4vw;
  margin: 0;
}

.firstSectionContentDiv h1{
  font-size: 60px;
  color: white;
  font-family: "Acumin Pro Condensed Black";
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

.firstSectionContentDiv h2{
  font-size: 16px;
  color: white;
  font-family: "Acumin Pro";
  font-weight: normal;
  width: 30vw;
  padding-left: 2px;
  padding-top: 3vw;
  margin: 0;
}

.secondSectionBody {
  height: 5vw;
  background-color: black;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.thirdSectionBody{
  padding: 0;
  margin: 0;
  height: 30vw;  
}

.districtDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vw;
  gap: 10px;
}

.districtCategory {
  display: flex;
  align-items: center;
  background-color: #89C5D9;
  padding-inline: 2.4vw;
  padding-block: 0.3vw;
  border-radius: 5px;
  gap: 1.4vw;
}

.districtCategory h1{
  font-size: 14px;
  color: #4E4E4E;
  font-family: "Acumin Pro";
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 27px;
}

/* Hide default checkbox */
.categoryCheckBox input {
  opacity: 0;
  cursor: pointer;
}



#basic-nav-dropdown {
    color: white;
}
  
  
  
