@font-face {
  font-family: "Acumin Black";
  src: url("./fonts/Acumin-Pro-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Acumin Regular";
  src: url("./fonts/Acumin-Pro_Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Acumin Bold";
  src: url("./fonts/Acumin-Pro-Bold.otf") format("opentype");
}
